<!DOCTYPE html>
<html ng-app>
<head>
  <title>Suggestion Box</title>
  
  <script src="https://code.angularjs.org/angular-1.0.0rc3.min.js"</script>
	<script type="text/javascript" src="js/vendor/angular.min.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
  <script type="text/javascript" src="HomeController.js"></script>
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div ng-controller="HomeController">
	  <h2>Total Suggestions: {{ getTotalSuggestions() }}</h2>
	  <ul class="unstyled">
		  <li ng-repeat="suggestion in suggestions">
			  {{ suggestion.text }}
			  <button class="btn">Upvote: <span class="glyphicon glyphicon-thumbs-up" ng-click="addUpvote()"></span></button>
			  <p>Total Upvotes: {{ suggestion.upvotes }}</p>
		  </li>
	  </ul>
	  <form class="form-horizontal">
	  	<input type="text" ng-model="formSuggestionText" ng-model-instant>
		  <button class="btn" ng-click="addSuggestion()">Add</button>
	  </form>
  </div>
</body>
</html>
